body {
  margin: 0;
  font-family: Times, sans-serif;
  background-color: white;
  color: #491212;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

h1 {
  margin-bottom: 20px;
  font-family: Times;
}

.create_form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.create_form input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #000000;
  font-size: 16px;
}

.create_form button {
  padding: 10px 20px;
  border: none;
  background-color: #491212;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.create_form button:hover {
  background-color: #000000;
}

.todo_item {
  background-color: #f0f4f8;
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.task {
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background-color: #491212;
  color: white;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.line_through {
  text-decoration: line-through;
  color: #d3d3d3;
}

.checkbox .icon {
  margin-right: 10px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}
